.SwitchItem {
  position: relative;
  display: inline-block;
  width: 280px;
  height: 280px;
  margin: 10px 20px 0 0;
  background-color: $nbbWhite;
  box-shadow: 0 3px 4.7px 0.3px $nbbGreyDark;

  .Content {
    width: 100%;
    margin: 20px 0;
    text-align: center;
  }

  .Image {
    display: inline-block;
    width: 130px;
    height: 130px;
    background-color: $nbbGreyLight;
    border-radius: 65px;

    .ImageContent {
      width: 100%;
      height: 100%;
      background-size: auto;
    }

    &:hover {
      background-color: $nbbOrange;
    }
  }

  .Title {
    margin-top: 20px;
    color: $nbbFontDefault;
    font-size: 20px;
    text-align: center;
  }

  .Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    border-top: 1px solid $nbbGrey;
  }
}
