.NavBar {
  position: fixed;
  top: 48px;
  z-index: 800;
  width: 100%;

  .RedRow {
    height: 20px;
    background-color: $nbbRedSemiDark;
  }

  .TitleRow {
    height: 100px;
    padding: 10px 0 30px 20px;
    color: $nbbFontDark;
    background-color: $nbbWhite;
    box-shadow: 0 3px 4.7px 0.3px $nbbGreyDark;
  }
}
