.AdviserMenu {
  .Title {
    height: 80px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 20px;
    line-height: 80px;
    color: $nbbFontDefault;
  }

  .AdviserList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: -10px;
    padding: 0 10px 10px;
  }

  .ActionBtnWrapper {
    width: 170px;
    height: 40px;
  }

  .ConfirmMessage {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
}
