.FormElement {
  clear: both;

  .Label {
    float: left;
    width: 20%;
    line-height: 5.3rem;
    color: $nbbFontDefault;
    font-size: 1.2rem;
  }

  .Element {
    display: inline-block;
    width: 70%;
  }
}
