.Edit,
.Delete {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 10px;
  cursor: pointer;
  background: url("#{$resourcePath}nbb_edit.svg") no-repeat center;
  background-size: contain;

  &:hover {
    background-image: url("#{$resourcePath}nbb_edit_orange.svg");
  }
}

.Edit {
  background-image: url("#{$resourcePath}nbb_edit.svg");

  &:hover {
    background-image: url("#{$resourcePath}nbb_edit_orange.svg");
  }
}

.Delete {
  background-image: url("#{$resourcePath}nbb_delete.svg");

  &:hover {
    background-image: url("#{$resourcePath}nbb_delete_orange.svg");
  }
}

.Checkmark {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: url("#{$resourcePath}nbb_check_pos.svg") no-repeat center;
  background-size: contain;
}
