$nbbOrange: #ff7100;
$nbbOrangeGradient: #fd872a;
$nbbBlueInfo: #0086ca;
$nbbBlueMain: #2684c7;
$nbbBlueLightInfo: #e5f3fa;
$nbbRed: #b92215;
$nbbRedSemiDark: #e4373a;
$nbbGreen: #89c535;
$nbbGrey: #d9d9d9;
$nbbGreyGradient: #eee;
$nbbGreyLight: #f6f6f6;
$nbbGreyLightest: #fafafa;
$nbbGreyDark: #b0b0b0;
$nbbFontDark: #383838;
$nbbFontDefault: #646464;
$nbbFontLight: #838383;
$nbbWhite: #fff;
$nbbGreySemiDark: #d9d9d9;
$nbbBlack: #000;
