.MainData {
  margin-top: 210px;
  margin-bottom: 80px;
  textarea {
    height: 100px;
  }

  .Buttons {
    padding: 0 10px;
    margin-top: 60px;

    .Cancel {
      display: inline-block;
      width: 120px;
    }

    .Save {
      float: right;
    }
  }

  .ModalWrapper {
    width: 480px;
  }

  .WarningMessageContent {
    font-size: 14px;
  }
}
