.QuestionCheckboxItem {
  width: 320px;
  height: auto;
  margin: 0 0 20px 0;
  border: none;
  box-shadow: none;

  .BorderTop {
    width: 100%;
    height: 4px;
  }

  .QuestionContent {
    border: 1px solid $nbbGreySemiDark;
    border-top: none;

    .QuestionGroupName {
      display: flex;
      align-items: center;
      height: 40px;
      padding-left: 5px;
      color: $nbbFontDark;
      font-size: 16px;
      border-bottom: 1px solid $nbbGreySemiDark;

      .GroupImage {
        width: 30px;
        height: 90%;
        margin-right: 5px;
      }
    }

    .GroupDescription {
      padding: 7px 7px 7px 10px;
      color: $nbbFontDefault;
      font-size: 14px;
      font-weight: 700;
      background-color: $nbbGreyLight;
      overflow: hidden;
    }

    .QuesstionText {
      padding: 7px 7px 7px 10px;
      color: $nbbFontDark;
      font-size: 14px;
      overflow: hidden;
    }
  }
}
