.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1100;
  display: none;
  transform: translate(-50%, -50%);
  min-width: 480px;
  margin: auto;
  border: 1px solid $nbbGreyDark;
  background-color: $nbbWhite;
  font-family: Roboto-Condensed;

  &.Open {
    display: block;
  }
  .Close {
    position: relative;
    top: -15px;
    right: -15px;
    z-index: 1200;
    width: 32px;
    height: 32px;
    border-radius: 15px;
    border: 2px solid $nbbGreyDark;
    background-color: $nbbWhite;
    cursor: pointer;
    float: right;

    &.Close:before,
    &.Close:after {
      position: absolute;
      top: 5px;
      left: 13px;
      content: " ";
      height: 18px;
      width: 2px;
      background-color: $nbbGreyDark;
    }

    &.Close:before {
      transform: rotate(45deg);
    }

    &.Close:after {
      transform: rotate(-45deg);
    }
  }

  .Title {
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    color: $nbbFontDark;
  }

  .Content {
    padding: 10px;
    color: $nbbFontDefault;
    border-top: 1px solid $nbbGreyDark;
    border-bottom: 1px solid $nbbGreyDark;
  }

  .Buttons {
    padding: 10px;

    .Cancel {
      display: inline-block;
      width: 120px;
    }

    .Link {
      color: $nbbFontDark;
      float: right;
      font-size: 14px;
      margin: 6px 10px 0 0;
      text-decoration: underline;
    }

    .Proceed {
      float: right;
    }
  }

  .SecondaryTitle {
    display: inline-block;
    font-size: 12px;
    margin-left: 12px;
  }

  .Required {
    color: $nbbRed;
  }
}
