.Checkbox {
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: 2.5rem;
  margin: 1rem;

  input {
    display: none;
  }

  input:checked + .Slider {
    background-color: $nbbOrange;
  }

  input:focus + .Slider {
    box-shadow: 0 0 0.1rem $nbbOrange;
  }

  input:checked + .Slider .CircleWrapper {
    transform: translateX(1.1rem);

    .Circle {
      background-image: url('../../../assets/icons/nbb_check_orange.svg');
      background-size: 70% 70%;
    }
  }

  .Slider {
    position: absolute;
    top: 0.1rem;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: $nbbGreyDark;
    transition: 0.4s;

    .CircleWrapper {
      position: absolute;
      left: 0.2rem;
      height: 2rem;
      width: 2rem;
      background-color: $nbbWhite;
      border-radius: 50%;
      transition: 0.4s;

      .Circle {
        width: 100%;
        height: 100%;
        background: url('../../../assets/icons/nbb_close.svg') no-repeat center;
        background-size: contain;
      }
    }

    &.Round {
      border-radius: 2.2rem;
    }
  }
}
