.MainDataBlock {
  margin-bottom: 4rem;
  background-color: $nbbWhite;
  box-shadow: 0 0.3rem 0.47rem 0.03rem $nbbGreyDark;

  &:hover {
    box-shadow: 0 0.3rem 0.47rem 0.03rem rgba(0, 0, 0, 0.45);
  }

  .Title {
    height: 5rem;
    padding: 0 1rem;
    border-bottom: 0.1rem solid $nbbGreySemiDark;

    .FirstTitle {
      margin-right: 3rem;
      line-height: 5rem;
      color: $nbbBlack;
      font-size: 1.7rem;
    }

    .SecondaryTitle {
      line-height: 3rem;
      color: $nbbFontDefault;
      font-size: 1.2rem;
    }
  }

  .Content {
    padding: 1rem;
  }
}
