.MainDataBlock {
  margin-bottom: 20px;
  background-color: $nbbWhite;
  box-shadow: 0 3px 4.7px 0.3px $nbbGreyDark;

  &:hover {
    box-shadow: 0 3px 4.7px 0.3px rgba(0, 0, 0, 0.45);
  }

  .Title {
    height: 50px;
    padding: 0 10px;
    border-bottom: 1px solid $nbbGreySemiDark;

    .FirstTitle {
      margin-right: 20px;
      line-height: 50px;
      color: $nbbBlack;
      font-size: 17px;
    }

    .SecondaryTitle {
      line-height: 30px;
      color: $nbbFontDefault;
      font-size: 12px;
    }
  }

  .Content {
    padding: 10px;
  }

  .Required {
    color: $nbbRed;
    margin-left: 5px;
  }
}
