.NavBar {
  position: fixed;
  top: 12rem;
  z-index: 1;
  display: block;
  width: 100%;
  background-color: $nbbWhite;
  box-shadow: 0 0.3rem 0.47rem 0.03rem $nbbGreyDark;

  a {
    display: inline-block;
    width: 12rem;
    height: 4rem;
    line-height: 4rem;
    color: $nbbFontDefault;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    @extend .ThemeRemoveFocus;
  }

  .Active {
    color: $nbbOrange;
    border-bottom: 0.2rem solid $nbbOrange;
  }
}
