.NavBar {
  position: fixed;
  top: 150px;
  z-index: 800;
  display: block;
  width: 100%;
  background-color: $nbbWhite;
  box-shadow: 0 3px 4.7px 0.3px $nbbGreyDark;

  a {
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    color: $nbbFontDefault;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    @extend .ThemeRemoveFocus;
  }

  .Active {
    color: $nbbOrange;
    border-bottom: 2px solid $nbbOrange;
  }
}
