.AdviserItem {
  .Image {
    .ImageContent {
      background: url("#{$resourcePath}kb_icon_v1_orange.png") no-repeat center;

      &:hover {
        background-image: url("#{$resourcePath}kb_icon_v1_white.png");
      }
    }

    &:hover {
      background-color: $nbbOrange;
      cursor: pointer;
    }
  }

  .EditWrapper {
    float: right;
    height: 30px;
    margin: 10px 0;
  }
}
